<mat-sidenav-container class="ns-main">
  <mat-sidenav
    mode="side"
    opened
    class="ns-sidenav ns-hide-mobile"
  >
    <div class="ns-sidenav-header">
      <p class="ns-color-dark-gray ns-font-12">{{date | date:'EEEE, LLLL d'}}</p>
      <p class="ns-font-22">{{('title' | translate) | titlecase}}</p>
      <mat-form-field appearance="outline">
        <input (change)="searchNews()" [formControl]="search" matInput placeholder="{{('search' | translate) | titlecase}}">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="sidenav-content">
      <div class="sidenav-content-sections">
        <div
          class="ns-cursor-pointer ns-row ns-align-center"
          [routerLink]="[section.url]"
          routerLinkActive="router-link-active"
          *ngFor="let section of sections"
        >
          <mat-icon [svgIcon]="section.icon"></mat-icon>
          <p>{{(section.name | translate) | titlecase}}</p>
        </div>
      </div>
      <div class="sidenav-content-sources">
        <div
          class="ns-cursor-pointer"
          routerLinkActive="router-link-active"
          *ngFor="let source of sources"
        >
          <p>{{source.name}}</p>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="search.value == ''; else searchedNews">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #searchedNews>
        <div class="ns-searched-news ns-row">
          <div class="ns-searched-new ns-row ns-align-center" *ngFor="let new of news">
              <div class="ns-searched-new-image" [style.background-image]="'url(' + new.urlToImage + ')'"></div>
              <div>
                  <p class="ns-font-12 ns-color-dark-gray">{{new.source.name}}</p>
                  <p class="ns-font-14">{{new.title}}</p>
                  <p class="ns-font-12">{{new.publishedAt | date:'mediumDate'}}</p>
              </div>
          </div>
        </div>
    </ng-template>

  </mat-sidenav-content>
</mat-sidenav-container>
